.container {
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 600px;
	background: #122647;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 85px;
	margin-top: 50px;

}
.container .formBox {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .formBox form {
	position: relative;
	width: 100%;
	padding: 0 0 0 75px;
}
.container .formBox form h2 {
	color: #fff;
	font-weight: 500;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 40px;
}
.container .formBox form .inputBox {
	position: relative;
	margin-bottom: 40px;
}
.container .formBox form .inputBox:last-child {
	margin-bottom: 0px;
}
.container .formBox form .inputBox input, 
.container .formBox form .inputBox textarea {
	position: relative;
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
	color: #f8f7f5;
	padding-bottom: 10px;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 300;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	resize: none;
}
.container .formBox form .inputBox textarea {
	height: 100px;
}
.container .formBox form .inputBox input[type="submit"] {
	padding: 8px 20px;
	margin-top: -10px;
	width: 100px;
	cursor: pointer;
	background: #cbd5f0;
	color: #122647;
	font-size: 18px;
	font-weight: 400;
	border: none;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.container .formBox form .inputBox input[type="submit"]:focus {
	background: #1bfaad;
	color: #111;
} 
.container .formBox form .inputBox span {
	position: absolute;
	left: 0;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	pointer-events: none;
	letter-spacing: 1px;
	color: rgba(255,255,255,0.5);
	transition: all 0.2s;
}
.container .formBox form .inputBox input:focus ~ span,
.container .formBox form .inputBox textarea:focus ~ span,
.container .formBox form .inputBox input:valid ~ span,
.container .formBox form .inputBox textarea:valid ~ span {
	transform: translateY(-24px);
	color: #1bfaad;
	font-size: 14px;
}
.container .formBox form .inputBox input:focus,
.container .formBox form .inputBox textarea:focus,
.container .formBox form .inputBox input:valid,
.container .formBox form .inputBox textarea:valid {
	border-bottom-color: #f8f7f5;
}
.container .imgBox {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.container .imgBox:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #cbd5f0;
	transform-origin: bottom;
	transform: skewX(-25deg) translate(10%);
}
.container .imgBox img {
	position: absolute;
	margin-left: -35%;
	bottom: 0;
	height:90%;
	max-height: 95%;
}
@media(max-width: 911px) {
	.container .formBox {
		width: 100%;
		padding: 0 50px;
	}
	.container .imgBox {
		display: none;
	}
}
.container .formBox p {
	color: #f8f7f5;
}